body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading{
    position: absolute;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #323537;
    top:0;
    left: 0;
}

.ring{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 5px 1px #323537;
    animation: spin 1s linear infinite;
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}