*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #fff;
}

.btn{
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    width: 300px;
    height: 100px;
    font-size: 2em;
    color: #fff;
}

