*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3d4f;
}

.cradle{
    display: flex;
    border-top: 10px solid #fff;
}

.cradle span{
    width: 2px;
    height: 300px;
    background: #fff;
    display: block;
    position: relative;
    margin: 0 25px;
    transform-origin: top;
}

.cradle span::before{
    content: '';
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cradle span:first-child{

    animation: animate-left-side 2s ease infinite;
}

.cradle span:last-child{
    animation: animate-right-side 2s ease infinite 1s;
}

@keyframes animate-left-side{
    0%, 50%, 100%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(30deg);
    }
}

@keyframes animate-right-side{
    0%, 50%, 100%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-30deg);
    }

}
