@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

body{
    background: #343845;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 250px;
    height: 60px;
    color: #e6bcd0;
    background: none;
    border: 5px solid #e6bcd0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.btn::before, .btn::after{
    content: '';
    width: 15px;
    height: 5px;
    background: #343845;
    position: absolute;
    transform: skewX(50deg);
    transition: .5s linear;
}

.btn::before{
    top:-5px;
    left: 10%;
}

.btn::after{
    bottom: -5px;
    right: 10%;
}

.btn:hover::before{
    left:80%;
}

.btn:hover::after{
    right: 80%;
}