@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4c4c4c;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  width: 230px;
  height: 230px;
  position: relative;
  background: #3a3a3a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.circle .inner-circle, .circle .dotted-circle {
  background: #242424;
  width: 212px;
  height: 212px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle .inner-circle .red-circle, .circle .dotted-circle .red-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  height: 190px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid #F85B5B;
  border-right-color: transparent;
  z-index: 2;
  z-index: 20;
  -webkit-animation: spinning 5s linear infinite;
          animation: spinning 5s linear infinite;
}

.circle .inner-circle .filler, .circle .dotted-circle .filler {
  border-radius: 0px 100px 100px 0px;
  border-left-color: transparent;
  z-index: 10;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  opacity: 0;
  -webkit-animation: fill-circle 5s linear infinite;
          animation: fill-circle 5s linear infinite;
}

.circle .dotted-circle {
  width: 170px;
  height: 170px;
  border: 3px dotted #fff;
  background: #242424;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle .dotted-circle .watch-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle .dotted-circle .watch-content .date {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.circle .dotted-circle .watch-content .clock {
  font-size: 2.5em;
  font-weight: 600;
}

.circle .dotted-circle .watch-content .watch-content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 10px;
}

.circle .dotted-circle .watch-content .watch-content-bottom .heart {
  font-size: 12px;
}

.circle .dotted-circle .watch-content .watch-content-bottom .heart i {
  font-size: 13px;
  color: #F85B5B;
  padding: 0 5px 0 0;
  -webkit-animation: heartbeat 1s linear infinite;
          animation: heartbeat 1s linear infinite;
}

.circle .dotted-circle .watch-content .watch-content-bottom .energy {
  font-size: 12px;
  text-transform: uppercase;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */