@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #252525;
    font-family: 'Lato', sans-serif;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 6em;
    color: #484848;
    animation: lightning-text 2s linear infinite;
}
li:nth-child(1){
    animation-delay: 0;
}
li:nth-child(2){
    animation-delay: .1s;
}
li:nth-child(3){
    animation-delay: .2s;
}
li:nth-child(4){
    animation-delay: .3s;
}
li:nth-child(5){
    animation-delay: .4s;
}
li:nth-child(6){
    animation-delay: .5s;
}
li:nth-child(7){
    animation-delay: .6s;
}
li:nth-child(8){
    animation-delay: .7s;
}
li:nth-child(9){
    animation-delay: .8s;
}
li:nth-child(10){
    animation-delay: .9s;
}
li:nth-child(11){
    animation-delay: 1s;
}

@keyframes lightning-text{
    0%{
        color:#484848;
        text-shadow: none;
    }
    90% {
		color: #484848;
		text-shadow: none;
	}
    100%{
        color:#ff6392;
        text-shadow: 0 0 7px #ff6392, 0 0 50px #ff0a54;
    }
}
