*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: flex;
}

section{
    width: 100%;
    height: 100%;
    position: relative;
}

.txt{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12em;
    font-weight: 700;
    line-height: 200px;
    display: flex;
    align-items: center;
}

.txt p{
    animation: animate 15s linear infinite;
}

.side-left .txt{
    color: white;
    border: 2px solid black;
    background-color: rgb(233, 83, 83);
}

.side-left p{
    z-index: 2;
    position: relative;
}

.side-right .txt{
    background-color: white;
    color:black;
}

.side-right p{
    position: absolute;
}

@keyframes animate{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-150%);
        
    }
}